/.idea
/_deps
/CMakeFiles
/CMakeCache.txt
/cpm-package-lock.cmake
/get_cpm.cmake
/cmake-build
/cmake-build-debug
/cmake-build-release
/cmake-build-relwithdebinfo
/artifacts
/bin
/.vs
/build
/out
/cmake/CPM_*